body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #1e293b;
  padding: 30px;
  border-radius: 12px;
  width: 320px;
  text-align: center;
}

input {
  width: 100%;
  margin: 8px 0;
  padding: 10px;
  border-radius: 6px;
  border: none;
}

button {
  padding: 12px;
  background: #f43f5e;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#result {
  margin-top: 20px;
}